*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 237, 237);
    margin: 50px 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    color: #3b5998;
    font-size: 3rem;
}

.comment{
    background-color: rgb(204, 204, 204);
}